LOG_LEVEL=INFO
DELIVEROO_HOST=http://localhost:8080
PDDL_SOLVER_HOST=http://localhost:5001
RECALCULATE_PLAN_ON_PARCEL_UPDATE=true
PARCEL_SENSING_DISTANCE=6
AGENT_SENSING_DISTANCE=6
MODE_OF_OPERATION="decentralized"
