LOG_LEVEL=INFO
HOST=http://localhost:8080
SOLVER_HOST=http://localhost:5001
PLANNER="pddl"
PICKUP_BRANCHING_FACTOR=2
RECALCULATE_PLAN_ON_PARCEL_UPDATE=true
PARCEL_SENSING_DISTANCE=6
AGENT_SENSING_DISTANCE=6
MODE_OF_OPERATION="decentralized"
